<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{% block title %}Django web Programming {% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}"/>
</head>

<body>
<div id="header">
    <h2 class="maintitle">Easy &amp; Fast Django Web Programming </h2>
    <h4 class="welcome">Welcome, <a href="#"> ASVV </a> /
        <a href="#"> Change Password</a> /
        <a href="#"> Logout </a>
    </h4>
</div>

<div id="menu">
    <li><a href="{% url 'home' %}"> HOME</a></li>
    <li><a href="{% url 'bookmark:index' %}"> Bookmark</a></li>
    <li><a href="{% url 'blog:index' %}"> Blog</a></li>
    <li><a href="{% url 'photo:index' %}"> Photo</a></li>

    <li>
        <a href="#"> Add&bigtriangledown;</a>
        <ul>
            <li><a href="#"> BOOKMARK </a></li>
            <li><a href="#"> BLOG </a></li>
            <li><a href="#"> PHOTO </a></li>
        </ul>
    </li>
    <li>
        <a href="#">Change&bigtriangledown;</a>
        <ul>
            <li><a href="#">BOOKMARK</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">PHOTO</a></li>
        </ul>
    </li>

    <li><a href="{% url 'blog:post_archive' %}">Archive</a></li>
    <li><a href="{% url 'blog:search' %}">Search</a></li>
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
</div>

{% block content %}{% endblock %}
{% block footer %} {% endblock %}

</body>
</html>