{% extends "base.html" %}

{% block title %}post_search.html{% endblock %}

{% block content %}
<div id="content">
    <h1>Blog Search</h1>

    <form action="." method="post">{% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit"/>
    </form>

    <br/><br/>

    {% if object_list %}
    {% for post in object_list %}
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    {{ post.modify_date | date:"N d, Y"}}
    <p>{{ post.description }}</p>
    {% endfor %}

    {% elif search_term %}
    <b><i>Search Word({{ search_term }}) Not Found! </i></b>
    {% endif %}
</div>
{% endblock %}