{% extends 'base.html' %}

{% block title %}post_archive.html{% endblock %}

{% block content %}
<div id="content">
    <h1> Post Archives unitl {% now "N d, Y %}</h1>

    <ul>
        {% for date in date_list %}
        <li style="display: inline;">
            <a href="{% url 'blog:post_year_archive' date | date:'Y' %}">Year - {{ date | date:'Y' }}</a>
        </li>
        {% endfor %}
    </ul>

    <br/>

    <div>
        <ul>
            {% for post in object_list %}
            <li>
                {{ post.modify_date | date:"Y-m-d" }} &nbsp;&nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}