{% extends 'base.html' %}

{% block title %}post_detail.html{% endblock %}

{% block content %}
<div id="content">
    <h2>{{ object.title }}</h2>

    <p class="other_posts">
        {% if object.get_previous_by_modify_date %}
        <a href="{{ object.get_previous_post.get_absolute_url }}" title="View previous post">
            &laquo;-- {{ object.get_previous_post }}
        </a>
        {% endif %}

        {% if object.get_next_by_modify_date %}
        <a href="{{ object.get_next_post.get_absolute_url }}" title="View next post">
            {{ object.get_next_post }} -- &raquo;
        </a>
        {% endif %}
    </p>

    <p class="date">{{object.modify_date | date:"j F Y"}}</p>
    <br/>

    <div class="body">
        {{ object.content | linebreaks }}
    </div>

    <div>
        <b>TAGS: </b>
        {% load tagging_tags %}
        {% tags_for_object object as tags %}
        {% for tag in tags %}
        <a href="{% url 'blog:tagged_object_list' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
        <a href="{% url 'blog:tag_cloud' %}"><i>[ TagCloud ]</i></a>
    </div>

    <br/>
    <div>
        {% load disqus_tags %}
        {% disqus_show_comments %}
    </div>
</div>
{% endblock %}