{% extends 'base.html' %}

{% block title %}post_archive_day.html{% endblock %}

{% block content %}

<div id="content">
    <h1>Post Archive for {{ day | date:"N d, Y" }}</h1>

    <div>
        <ul>
            {% for post in object_list %}
            <li>
                {{ post.modify_date | date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}"><strong> {{ post.title }}</strong></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}