{% extends 'base.html' %}

{% block title %}post_archive_month.html{% endblock %}

{% block content %}
<div id="content">
    <h1> Post Archives for {{ month | date:"N, Y" }}</h1>

    <div>
        <ul>
            {% for post in obejct_list %}
            <li>
                {{ post.modify_date| date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}"> <strong>{{ post.title }}</strong></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}